<!doctype html>
<html lang='en'>
  <head>
    {{ content_for_header }}

    {% if settings.favicon != blank %}
      <link rel='icon' type='image/png' href='{{ settings.favicon | image_url: width: 32, height: 32 }}'>
    {% endif %}

    {% render 'stylesheets' %}
    {% render 'scripts' %}
    {% render 'theme-styles-variables' %}
  </head>
  <body>
    {% sections 'header-group' %}
    <main
      id='MainContent'
      class='content-for-layout'
      role='main'
    >
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
  </body>
</html>
