<div class='container mx-auto'>
  <div class='page-wrapper mx-4'>
    <h1 class='text-5xl'>
      {{ page.title }}
    </h1>
    <div class='rte text-lg'>
      {{ page.content }}
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Main Page",
  "settings": [],
  "presets": [
    {
      "name": "Main Page"
    }
  ]
}
{% endschema %}
